{% extends 'base.html' %}
{% load static %}
{% block title %}{{ beer.title }}{% endblock title %}

{% block content %}
{#    <div class="beer-detail">#}
    <div>
        {% if beer.label %}
            <img class="beerlabel" src="{{ beer.label.url}}" alt="{{ beer.brand }}">
        {% endif %}
        <h2><a href="">{{ beer.brand }}</a></h2>
        <p>Brand: {{ beer.brand }}</p>
        <p>Producer: {{ beer.producer }}</p>
        <p>Style: {{ beer.style }}</p>
        <p>Alcohol: {{ beer.alc_volume|floatformat:1 }}</p>
        <p>Price, euro: {{ beer.price|floatformat:2 }}</p>
        <div>
            <h3>Beer reviews</h3>
            <ul>
                {% for review in beer.reviews.all %}
                    <li>{{ review.review }} ({{ review.author }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}