{% extends 'base.html' %}
{% block title %}Beers{% endblock title %}

{% block content %}
    <a class="btn btn-outline-primary" href="{% url 'beer_review' %}">Review a bier</a>
    {% if request.user.is_staff %}
    <div>
        <a class="btn btn-primary mt-2" href="{% url 'beer_add' %}">Add a bier</a>
        <p></p>
    </div>
    {% endif %}
    <h3>Click a beer for details and reviews:</h3>
    {% for beer in beer_list %}
        <div>
            <h4><a href="{{ beer.get_absolute_url }}">{{ beer.brand }}</a></h4>
{#            <img class="beerlabel" src="{{ beer.label.url}}" alt="{{ beer.brand }}">#}
        </div>
    {% endfor %}
{% endblock content %}











{##}
{#        <section id="welcome-world">#}
{#        {% for beer in beer_list %}#}
{#            <div class="beer">#}
{#                <div class="image-wrap">#}
{#                    <img src={{ beer.label.url }} alt="NO IMAGE">#}
{#                    <img class="beerlabel" src="{{ beer.label.url}}" alt="{{ beer.brand }}">#}
{#                </div>#}
{#                <h3><a href="{{ beer.get_absolute_url }}">{{ beer.brand }}</a></h3>#}
{#            </div>#}
{#        {% endfor %}#}