{% extends 'base.html' %}
{% load static %}
{% block title %}{{ beer.title }}{% endblock title %}

{% block content %}
{#    <div class="beer-detail">#}
        {% if request.user.is_staff %}
    <div>
        <a class="btn btn-primary mt-2" href="{% url 'beer_edit' beer.id %}">Edit the bier</a>
        <a class="btn btn-danger mt-2" href="{% url 'beer_delete' beer.id %}">Delete the bier</a>
        <p></p>
    </div>
    {% endif %}
    <div>
        {% if beer.label %}
            <img class="beerlabel" src="{{ beer.label.url}}" alt="{{ beer.brand }}">
        {% endif %}
        <h3><p>Brand: {{ beer.brand }}</p></h3>
        <p>Producer: {{ beer.producer }}</p>
        <p>Style: {{ beer.style }}</p>
        <p>Alcohol: {{ beer.alc_volume|floatformat:1 }}</p>
        <p>Price, euro: {{ beer.price|floatformat:2 }}</p>
        <p>Description: {{ beer.beerdescription }}</p>
        <div>
            <h3>Beer reviews</h3>
            <ul>
                {% for review in beer.reviews.all %}
                    <li>{{ review.review }} ({{ review.author }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}